**/.idea/
**/.vscode/
**/.venv/
**/venv/
**/pyvenv.cfg
**/__pycache__/
**/*.py[cod]
**/.env
.DS_Store
Thumbs.db

**/local_docstore/
**/docstore/
**/temp_uploads/
**/*.db
**/*.sqlite3
**/*.db-wal
**/*.db-shm
**/.streamlit/secrets.toml